# Этот файл говорит утилите pybabel, где искать строки для перевода.
# Она сканирует Python-файлы и HTML-шаблоны и собирает все вызовы _('...')

[python: app/**.py]
encoding = utf-8

[jinja2: app/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.autoescape
